<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midea.cloud.srm.base.organization.mapper.OrganizationChildMapper">

    <select id="getOrganizationChildList" resultType="com.midea.cloud.srm.model.base.entity.Organization" parameterType="com.midea.cloud.srm.model.base.entity.Organization">
        SELECT org.*
        FROM (
            SELECT org1.*
            FROM scc_base_organization org1
            WHERE org1.ORGANIZATION_ID = #{organization.parentOrganizationIds,jdbcType=VARCHAR} UNION
            SELECT org2.*
            FROM scc_base_organization org2
            LEFT JOIN scc_base_organization org1 ON org1.ORGANIZATION_ID = org2.PARENT_ORGANIZATION_IDS
            WHERE org1.ORGANIZATION_ID = #{organization.parentOrganizationIds,jdbcType=VARCHAR} UNION
            SELECT org3.*
            FROM scc_base_organization org3
            LEFT JOIN scc_base_organization org2 ON org2.ORGANIZATION_ID = org3.PARENT_ORGANIZATION_IDS
            LEFT JOIN scc_base_organization org1 ON org1.ORGANIZATION_ID = org2.PARENT_ORGANIZATION_IDS
            WHERE org1.ORGANIZATION_ID = #{organization.parentOrganizationIds,jdbcType=VARCHAR} UNION
            SELECT org4.*
            FROM scc_base_organization org4
            LEFT JOIN scc_base_organization org3 ON org3.ORGANIZATION_ID = org4.PARENT_ORGANIZATION_IDS
            LEFT JOIN scc_base_organization org2 ON org2.ORGANIZATION_ID = org3.PARENT_ORGANIZATION_IDS
            LEFT JOIN scc_base_organization org1 ON org1.ORGANIZATION_ID = org2.PARENT_ORGANIZATION_IDS
            WHERE org1.ORGANIZATION_ID = #{organization.parentOrganizationIds,jdbcType=VARCHAR}
        ) org
        <where>
            <if test="organization.organizationTypeCode != null and organization.organizationTypeCode != ''">
                AND org.ORGANIZATION_TYPE_CODE = #{organization.organizationTypeCode,jdbcType=VARCHAR}
            </if>
            <if test="organization.organizationCode != null and organization.organizationCode != ''">
                AND org.ORGANIZATION_CODE like concat('%', #{organization.organizationCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="organization.organizationName != null and organization.organizationName != ''">
                AND org.ORGANIZATION_NAME like concat('%', #{organization.organizationName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="organization.organizationRegion != null and organization.organizationRegion != ''">
                AND org.ORGANIZATION_REGION = #{organization.organizationRegion,jdbcType=VARCHAR}
            </if>
            <if test='organization.enabled != null and organization.enabled == "Y"'>
                AND org.START_DATE <![CDATA[ <= ]]> CURDATE()
                AND (org.END_DATE is null or org.END_DATE <![CDATA[ >= ]]> CURDATE())
            </if>
            <if test='organization.enabled != null and organization.enabled == "N"'>
                AND org.END_DATE <![CDATA[ <= ]]> CURDATE()
            </if>
        </where>
        ORDER BY org.LAST_UPDATE_DATE
    </select>
</mapper>
