.setting-button {
  font-size: 12px;
  cursor: pointer;
  width: auto;
  height: 20px;
  line-height: 20px;
  color: #161C24;
  overflow: hidden;

  .setting-icon-operation {
    margin-right: 2px;
    font-size: 12px;
    vertical-align: middle;
  }
}

.custom-table-footer {
  text-align: right;
}

.tips {
  color: red;
  padding-bottom: 10px;
}

.drag-block{
  cursor: move;
}
