@import '@/styles/variables.scss';

#app {
  .main-container {
    height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: 0.3s width ease-in-out;
    width: $sideBarWidth  !important;
    // background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    font-weight: normal;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out,
        0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: calc(100% - 140px);
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 48px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      // &.el-menu--inline{
      //   background-color: $subMenuBg !important;
      // }
    }

    .el-submenu__title * {
      vertical-align: top;
    }

    .el-submenu__title {
      .el-submenu__icon-arrow {
        font-size: 12px;
        right: 12px;
      }
    }

    .el-submenu__title:hover {
      // color: #fff !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        // background-color: $menuHover  !important;
      }
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth  !important;
      // background-color: $subMenuBg  !important;

      &:hover {
        // background-color: $subMenuBg  !important;
        // color: #fff !important;
      }
    }

    // add hover background
    .el-menu-item.is-active {
      // background-color: $menuActiveBg  !important;
      font-weight: bold;

      &:hover {
        // background: #0077FF !important;
        // color: #fff;
      }
    }

    .el-submenu .router-link-active {
      // background: #0077FF;
      // color: #fff;

      &:hover {
        // background: #0077FF;
        // color: #fff;
      }
    }

    // element UI 往下箭头改成往右
    .el-submenu__title .el-submenu__icon-arrow,
    .el-menu-item .el-submenu__icon-arrow {
      transform: rotate(270deg) !important;
    }

    .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
      transform: rotate(180deg) !important;
      // color: #fff;
    }

    .menu-wrapper {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0px;
      }

      .iconfont {
        margin-right: 8px;
        line-height: 40px;
      }

      .menuName {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        max-width: 110px;
      }

      .el-submenu__title {
        height: 40px;
        line-height: 40px;
      }

      .el-menu-item.submenu-title-noDropdown {
        height: 40px;
        line-height: 40px;
        padding-right: 12px;
        padding-left: 16px !important;

        .menuName {
          max-width: 130px;
          padding-left: 0;
        }

        .iconfont {
          // color: #aab0b7;
        }

        &:hover {
          // color: #fff !important;

          >.iconfont {
            // color: #fff;
          }

          >.el-submenu__icon-arrow {
            // color: #fff;
          }
        }
      }

      // 有三级菜单的情况处理
      >.el-submenu {
        >.el-submenu__title {
          padding-right: 12px;
          padding-left: 16px !important; // 一级
        }

        &.is-active {
          >.el-submenu__title {
            // color: #fff !important;

            >.iconfont {
              // color: #fff;
            }

            >.el-submenu__icon-arrow {
              // color: #fff;
            }
          }
        }

        &:hover {
          >.el-submenu__title {
            // color: #fff !important;

            >.iconfont {
              // color: #fff;
            }

            >.el-submenu__icon-arrow {
              // color: #fff;
            }
          }
        }

        >.el-menu {
          // background-color: $subMenuBg  !important;
          padding: 8px 0;

          >.menu-wrapper.nest-menu {
            >a {
              >.el-menu-item {
                padding-left: 56px !important; // 只有2级
                padding-right: 12px;

                .menuName {
                  max-width: 122px;
                }

                .iconfont {
                  display: none;
                }
              }
            }

            >.el-submenu {
              >.el-submenu__title {
                padding-left: 56px !important; // 二级
                padding-right: 12px;

                .menuName {
                  max-width: 95px;
                }

                .iconfont {
                  display: none;
                }
              }

              >.el-menu.el-menu--inline {
                padding: 8px 0;

                >.menu-wrapper.nest-menu {
                  .el-menu-item {
                    padding-left: 72px !important; // 三级
                    padding-right: 12px;

                    .menuName {
                      max-width: 106px;
                    }

                    .iconfont {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }

        .el-menu-item {
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 52px !important;
      transition: 0.3s width ease-in-out;
    }

    .main-container {
      margin-left: 52px;
    }

    .submenu-title-noDropdown,
    .el-menu-item.submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .iconfont {
          margin-left: 16px;
          font-size: 18px;
          // color: #dcdcdc;
        }
      }

      &.is-active {
        .iconfont {
          // color: #fff;
        }
      }
    }

    .scrollbar-wrapper {
      .el-submenu {
        overflow: hidden;

        &>.el-submenu__title {
          padding: 0 !important;

          .iconfont {
            margin-left: 16px;
            font-size: 18px;
          }

          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }

      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth  !important;
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }

  // mobile responsive
  &.device-xs {
    .main-container {
      margin-left: 0px;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth  !important;
    }

    .hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }
}
// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    padding: 8px 0;

    .iconfont {
      margin-right: 16px;
      display: none;
    }
  }

  .nest-menu .el-menu-item {
    line-height: 40px;
    height: 40px;
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    height: 40px;
    line-height: 40px;

    .el-submenu__icon-arrow {
      transform: none !important;
    }

    &:hover {
      // background-color: $menuBg  !important;
      // color: #fff !important;

      .el-submenu__icon-arrow {
        // color: #fff !important;
        transform: none !important;
      }
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;
    min-width: 160px;
    max-width: 180px;

    .el-submenu__title * {
      vertical-align: top;
    }

    .el-submenu__title {
      .menuName {
        display: inline-block;
        // vertical-align: top;
      }

      .el-submenu__icon-arrow {
        font-size: 12px;
        right: 12px;
      }
    }

    >.menu-wrapper {
      &.nest-menu {
        >a {
          display: block;

          >.el-menu-item {
            .menuName {
              display: block;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-all;
            }
          }
        }
      }
    }

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
