.setting-button {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 6px;
  // border: 1px solid #DFE3E6;
  font-size: 12px;
  cursor: pointer;
  width: auto;
  height: 20px;
  line-height: 20px;
  color: #161C24;
  overflow: hidden;

  .setting-icon-operation {
    margin-right: 2px;
    font-size: 12px;
    vertical-align: middle;
  }

  // &:hover {
    // color: #0077FF;
  // }
}

.custom-table-footer {
  text-align: right;
}

.tips {
  color: red;
  padding-bottom: 10px;
}

.drag-block{
  cursor: move;
}
