.dashboard{
  .grid-content {
    // height: 100%;
    background: #fff;
    border-radius: 4px;
    position: relative;
    padding: 56px 16px 16px;
    .grid-title{
      position: absolute;
      top: 0;
      left: 16px;
      right: 16px;
      font-size: 16px;
      height: 22px;
      line-height: 22px;
      color: #161C24;
      word-break: keep-all;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .info-more {
      float: right;
      font-weight: normal;
      font-size: 12px;
      color:#96999C;
      cursor: pointer;
      margin-top: 2px;
    }
    ul{
      list-style: none;
      margin: 0;
      li{
        list-style: none;
      }
    }
  }
}
