@import './variables.scss';

// table 表格
.el-table {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  font-size: 12px;
  color: #393E45;
}

.el-table__fixed-right-patch{
  top: 0px;
  background-color: #f1f2f2;
  border-bottom: 1px solid #DCDDDE;
}

.el-table .caret-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 18px;
  width: 9px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
  margin-left: 7px;
}

.el-table .sort-caret {
  width: 0;
  height: 0;
  border: 4px solid transparent;
  position: absolute;
  left: 0px;
  font-size: 0;
}

.el-table .sort-caret.ascending {
  border-bottom-color: #96999C;
  top: -1px !important;
}

.el-table .sort-caret.descending {
  border-top-color: #96999C;
  bottom: 1px !important;
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #60adff
}

.el-table .descending .sort-caret.descending {
  border-top-color: #60adff
}

.el-table .cell{
  padding-left: 12px;
  padding-right: 12px;
}

.el-table td .cell .el-button-group .el-button.el-button--text,
.el-table td .cell .el-button.el-button--text{
  padding:2px 0 !important;
}



.el-table .radio .el-radio__label {
  display: none
}

.el-table__empty-block {
  min-height: 60px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.el-table__empty-text {
  line-height: 60px;
  width: 50%;
  color: #393E45
}

.el-table__placeholder {
  display: inline-block;
  width: 20px
}

.el-table__append-wrapper {
  overflow: hidden
}

.el-table--fit td.gutter,.el-table--fit th.gutter {
  border-right-width: 1px
}

.el-table--scrollable-x .el-table__body-wrapper {
  overflow-x: auto
}

.el-table--scrollable-y .el-table__body-wrapper {
  overflow-y: auto
}


.el-table td.is-center,.el-table th.is-center {
  text-align: center
}

.el-date-range-picker__editors-wrap.is-right,
.el-table td.is-right,
.el-table th.is-right {
  text-align: right
}

.el-table td.gutter,.el-table th.gutter {
  width: 15px;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 0
}

.el-table td.is-hidden>*,.el-table th.is-hidden>* {
  visibility: hidden
}

.el-table-column--selection .cell,.el-table .cell,.el-table th>.cell {
  padding-right: 12px;
  padding-left: 12px
}

.el-table tr {
  background-color: #fff
}

.el-table tr input[type=checkbox] {
  margin: 0
}

.el-table th.is-sortable {
  cursor: pointer
}

.el-table th {
  background-color: #F1F2F2;
  color: #393E45;
  line-height: 22px;
  user-select: auto !important;
  font-weight: bold;
  border:1px solid #DCDDDE;
  border-left: 0;
  border-top: 0;
  &:last-child{
    border-right: 0;
  }
  &.is-left{
    .cell{
      text-align: left;
    }
  }
  &.is-center{
    .cell{
      text-align: center;
    }
  }
  &.is-right{
    .cell{
      text-align: right;
    }
  }
}
table thead{
  background: #f1f2f2;
}

.el-table th>.cell {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  width: 100%
}

.el-table th>.cell.highlight {
  color: #0c92e0
}

.el-table th.required>div:before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4d51;
  margin-right: 5px;
  vertical-align: middle
}

.el-table td div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.el-table td.gutter {
  width: 0;
}
.el-table td{
  font-weight: 400;
}

.el-table .cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.el-table .cell.el-tooltip {
  white-space: nowrap;
  min-width: 50px
}

.el-table--border,.el-table--group {
  border: 1px solid #DCDDDE
}

.el-table--border:after,
.el-table--group:after,
.el-table:before {
  content: "";
  position: absolute;
  background-color: #DCDDDE;
  z-index: 1;
  height: 0;
}

.el-table--border:after,.el-table--group:after {
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
}

.el-table:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  z-index: 5;
}

.el-table--border {
  // border-right: none;
  border-bottom: none
}

.el-table--border.el-loading-parent--relative {
  border-color: transparent
}

.el-table--border td,.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #DCDDDE
}

.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding-left: 12px
}

.el-table--border th.gutter:last-of-type {
  border-bottom: 1px solid #DCDDDE;
  border-bottom-width: 1px
}

.el-date-range-picker__header,.el-table--border th,
.el-table__fixed-right-patch {
  border-bottom: 1px solid #DCDDDE;
}

.el-table--hidden {
  visibility: hidden
}

.el-table__fixed,.el-table__fixed-right {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12);
  box-shadow: 0 0 10px rgba(0,0,0,.12)
}

.el-table__fixed-right:before,
.el-table__fixed:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
  z-index: 4
}

// .el-table__fixed-right-patch {
//   position: absolute;
//   top: -1px;
//   right: 0;
//   background-color: #fff
// }

.el-table__fixed-right {
  top: 0;
  left: auto;
  right: 0
}

.el-table__fixed-right .el-table__fixed-body-wrapper,
.el-table__fixed-right .el-table__fixed-footer-wrapper,
.el-table__fixed-right .el-table__fixed-header-wrapper {
  left: auto;
  right: 0
}

.el-table__fixed-header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3
}

.el-table__fixed-footer-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3
}

.el-table__fixed-footer-wrapper tbody td {
  border-top: 1px solid #DCDDDE;
  background-color: #e6f4fb;
  color: #393E45
}

.el-table__fixed-body-wrapper {
  position: absolute;
  left: 0;
  top: 37px;
  overflow: hidden;
  z-index: 3
}

.el-table__body-wrapper,.el-table__footer-wrapper,
.el-table__header-wrapper {
  width: 100%
}

.el-table__footer-wrapper {
  margin-top: -1px
}

.el-table__footer-wrapper td {
  border-top: 1px solid #DCDDDE;
}

.el-table__body,.el-table__footer,.el-table__header {
  table-layout: fixed;
  border-collapse: separate
}

.el-table__footer-wrapper,
.el-table__header-wrapper {
  overflow: hidden
}

.el-table__footer-wrapper tbody td,
.el-table__header-wrapper tbody td {
  background-color: #e6f4fb;
  color: #393E45
}

.el-table__body-wrapper {
  overflow: hidden;
  position: relative
}

.el-table__body-wrapper.is-scrolling-left~.el-table__fixed,
.el-table__body-wrapper.is-scrolling-none~.el-table__fixed,
.el-table__body-wrapper.is-scrolling-none~.el-table__fixed-right,
.el-table__body-wrapper.is-scrolling-right~.el-table__fixed-right {
  -webkit-box-shadow: none;
  box-shadow: none
}

.el-table__body-wrapper .el-table--border.is-scrolling-right~.el-table__fixed-right {
  border-left: 1px solid #DCDDDE
}

.el-table .hidden-columns {
  visibility: hidden;
  position: absolute;
  z-index: -1
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #FAFBFB;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
  background-color: #FAFBFB;
}

.el-table__body tr.hover-row.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,
.el-table__body tr.hover-row>td {
  background-color: #A3DAFF; // #e6f4fb
}

.el-table__body tr.current-row>td {
  background-color: #A3DAFF
}

.el-table__column-resize-proxy {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #DCDDDE;
  z-index: 10
}

.el-table__column-filter-trigger {
  display: inline-block;
  line-height: 22px;
  cursor: pointer
}

.el-table__column-filter-trigger i {
  font-family: iconfont!important;
  color: #bfbfbf;
  font-size: 12px;
  margin-left: 12px;
  -webkit-transform: scale(.9);
  transform: scale(.9)
}

.el-table__column-filter-trigger i:before {
  content: "\E6DF"
}

.el-table__column-filter-trigger i.el-icon-arrow-up {
  color: #0c92e0
}

.el-table--enable-row-transition .el-table__body td {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #A3DAFF
}

.el-table--fluid-height .el-table__fixed,
.el-table--fluid-height .el-table__fixed-right {
  bottom: 0;
  overflow: hidden
}

.el-table .el-table__row.el-table__row--level-0 {
  background-color: #fff
}

.el-table [class*=el-table__row--level] {
  background-color: #fafafa
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
  display: inline-block;
  width: 16px;
  line-height: 16px;
  height: 16px;
  text-align: center;
  margin-right: 6px;
  font-weight: 700;
  color: #404040
}

.el-table-filter {
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.06),0 6px 16px 0 rgba(0,0,0,.08),0 9px 28px 8px rgba(0,0,0,.05);
  box-shadow: 0 0 3px 0 rgba(0,0,0,.06),0 6px 16px 0 rgba(0,0,0,.08),0 9px 28px 8px rgba(0,0,0,.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px 0;
  min-width: 128px
}

.el-table-filter__list {
  padding: 5px 0;
  margin: 0;
  list-style: none;
  min-width: 100px
}

.el-table-filter__list-item {
  line-height: 36px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 14px
}

.el-table-filter__list-item:hover {
  background-color: #f5f5f5;
  color: #f5f5f5
}

.el-table-filter__list-item.is-active {
  background-color: #0c92e0;
  color: #fff
}

.el-table-filter__content {
  min-width: 100px
}

.el-table-filter__bottom {
  border-top: 1px solid #DCDDDE;
  padding: 8px 12px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.el-table-filter__bottom button {
  background: 0 0;
  border: none;
  color: #393E45;
  cursor: pointer;
  font-size: 12px;
  padding: 0 3px;
  line-height: 22px
}

.el-date-table.is-week-mode .el-date-table__row:hover td:last-child div,
.el-date-table td.end-date div {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.el-table-filter__bottom button:first-child {
  float: right;
  background-color: #0c92e0;
  border-radius: 4px;
  line-height: 22px;
  padding: 0 8px;
  color: #fff
}

.el-table-filter__bottom button:first-child.is-disabled {
  background-color: #f5f5f5
}

.el-table-filter__bottom button:first-child:not(.is-disabled):hover {
  background-color: #44abe6;
  color: #fff
}

.el-date-table.is-week-mode .el-date-table__row:hover div,
.el-date-table td.available:not(.selected):hover div,
.el-date-table td.next-month:not(.selected):hover div,
.el-date-table td.prev-month:not(.selected):hover div {
  background-color: #f5f5f5
}

.el-table-filter__bottom button:last-child {
  float: left
}

.el-table-filter__bottom button:hover {
  color: #0c92e0
}

.el-table-filter__bottom button:focus {
  outline: 0
}

.el-table-filter__bottom button.is-disabled {
  color: #bfbfbf;
  cursor: not-allowed
}

.el-table-filter__wrap {
  max-height: 280px
}

.el-table-filter__checkbox-group {
  padding: 10px 12px
}

.el-table-filter__checkbox-group label.el-checkbox {
  display: block;
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 0
}

.el-table-filter__checkbox-group .el-checkbox__label {
  line-height: 22px
}

.el-table-filter__checkbox-group .el-checkbox:last-child {
  margin-bottom: 0
}
.el-table--border th {
  border-bottom: 1px solid #d5d8de
}
.el-table--border td{
  // border-right: 0;
}
.el-table td,.el-table th.is-leaf {
  border-bottom: 1px solid #DCDDDE;
}
.el-table td,.el-table th {
  padding: 8px 0;
  box-sizing: border-box;
}
.el-table__body-wrapper {
  .el-table__body{
    .el-table__row{
      &:last-child{
        td{
          border-bottom: 1px solid #DCDDDE;
        }
      }
    }
  }
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  max-width: 100%;
}

//修复表头错位
.el-table th.gutter {
  display: table-cell !important;
}

.el-table colgroup.gutter {
  display: table-cell !important;
}
