/**
 common-file 公共样式变量 和 公共样式
 */

// 默认行高
$file-wrap-height: 28px;
// 混合进度条的文件行高
$progress-file-wrap-height: 22px;
// 拖拽上传以及图片卡片文件列表背景色
$file-wrap-background-color: #F6F6F6;
// 图片卡片border-radius
$picture-card-border-radius: 6px;
// 点击文本颜色
$link-color: #0077FF;
// 成功颜色
$success-color: #52C718;
// 失败颜色
$error-color: #FF4A4D;

// 图片卡片基底标签样式混入
@mixin picture-card-wrap {
  width: 100%;
  height: 100%;
  border: 1px dashed #d9d9d9;
  border-radius: $picture-card-border-radius;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  background-color: $file-wrap-background-color;
}

// 单附件行
.file-item-wrap {
  display: flex;
  height: $file-wrap-height;

  .file-item-icon-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10px;

    // 附件图标
    .file-item-icon {
      &.el-icon-loading {
        visibility: hidden;

        &.is-loading {
          visibility: visible;
        }
      }
    }
  }

  // 附件名称
  .file-item-name {
    flex: 1;
    line-height: $file-wrap-height;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    text-align: left;
  }

  // 操作图标区域
  .file-item-operation {
    display: flex;
    width: 37px;
    justify-content: flex-end;
    align-items: center;

    .operation-icon {
      font-size: 14px;
      cursor: pointer;
      color: #96999C;

      &:not(:first-child) {
        margin-left: 7px;
      }

      &:hover {
        color: #000;
      }
    }

    .status-icon {
      font-size: 14px;

      &.el-icon-success {
        color: $success-color;
      }

      &.el-icon-error {
        color: $error-color;
      }
    }
  }
}
