.c-config-drectory-container {
 
  &__title {
    font-size: 14px;
    color: #161c24;
    line-height: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .el-input{
    margin: 12px 0;
  }
}
